/**
 * Variables
 */

/*
Z-index overview

1000-1999 - Content pulled forwards
5000-5999 - Header
8000-8999 - Modal, galleries and overlays
9000-9999 - Debug tool for development
*/

// Colors
$white: #FFFFFF;
$light: #F5F5F0;
$grey_light: #FAFCFD;
$grey: #77878B;
$grey_dark: #2D3047;
$dark: #1E1E1E;
$black: #000000;

$blue_lighter: #ECF2F7;
$blue_light: #A0BED7;
$blue_dark: #05386b;
$green_dark: #5F994B;
$green: #7EC166;
$green_light: #96D280;
$red: #F0501E;

// Defaults
$blue: #006298 !default;
$yellow: #FFDE11 !default;


/**
 * Primary and secondary
 */
$primary: $blue_light;
$secondary: $dark;
$cta: $red;
$focus: $primary;
$error: $red;
$success: $green;

$danger: #F01E1E;
$warning: $yellow;
$info: $yellow;


$default_font_color: $dark;
$bg: $white;


// Font and text
$font_size_base: 1rem; // Assumes the browser default, typically `16px`

$smdesk_paragraph_font_size: 1.125rem;
$paragraph_font_size: 1rem;

$line_height: 1.5;
$header_line_height: 1.2;


// Space
$space: 1.25rem;
$half_space: calc( #{$space} * 0.5 );
$one_and_a_half_space: calc( #{$space} * 1.5 );
$double_space: calc( #{$space} * 2 );
$two_and_a_half_space: calc( #{$space} * 2.5 );
$triple_space: calc( #{$space} * 3 );
$quadruple_space: calc( #{$space} * 4 );
$quintuple_space: calc( #{$space} * 5 );
$quintuple_and_a_half_space: calc( #{$space} * 5.5 );
$sextuple_space: calc( #{$space} * 6 );

// Get grid-gutter-width from bootstrap
$gutter_space: 1.875rem;

// PAGE OFFSET
$desktop_page_offset: 6.875rem;
$tablet_page_offset: calc( 0.5 * #{$desktop_page_offset} );
$mobile_page_offset: calc( 0.25 * #{$desktop_page_offset} );
$tiny_mobile_page_offset: calc( 0.1 * #{$desktop_page_offset} );

// SECTION PADDING
$section_padding_desktop: $quintuple_and_a_half_space;
$section_padding_tablet: calc( 0.5 * #{$section_padding_desktop} );
$section_padding_mobile: calc( 0.25 * #{$section_padding_desktop} );


// Breakpoints (copied from Bootstrap)
$bps: (
	zero: 0,
	xxsph: 375px,
	xsph: 450px,
	smph: 500px,
	mdph: 575px,
	lgph: 650px,
	smtab: 768px,
	mdtab: 875px,
	lgtab: 1024px,
	smdesk: 1275px,
	mddesk: 1440px,
	lgdesk: 1600px
);

$bps_max: (
	zero: 0,
	xxsph: 374px,
	xsph: 449px,
	smph: 499px,
	mdph: 574px,
	lgph: 649px,
	smtab: 767px,
	mdtab: 874px,
	lgtab: 1023px,
	smdesk: 1274px,
	mddesk: 1439px,
	lgdesk: 1599px
);




/**
 * Form
 */
$label_font_weight: bold;
$label_font_size: 1rem;
$label_margin_bottom: 0;

$form_group_max_width: 31.25rem;

$input_margin_under_fields: $half_space;
$input_label_font-size: $font_size_base;
$input_padding: 0.375rem 0.75rem;
$input_font_size: $font_size_base;
$input_font_weight: 400;
$input_line_height: 1.5;
$input_color: $dark;
$input_placeholder_color: $dark;
$input_placeholder_font_size: $font_size_base;
$input_border_width: 1px;
$input_border_style: solid;
$input_border_color: $grey;

$placeholder_no_focus_opacity: 0.7;
$placeholder_focus_opacity: 0.3;

$checkbox_width: 14px;
$radio_button_width: 14px;





// Header
$header_height: 6.250rem;
// $logo_height: 6.250rem;
// $logo_width: 13rem;

// Footer
// $footer_min_height: 1rem; // Deprecated (set in JS instead).

// Misc
$theme_root: '~/wp-content/themes/jvconsulting'; // Use: #{$theme-root}
$transition_duration: 0.2s;
$border_radius: 0px;
$border_width: 2px;

$desktop_arrow_width_and_height: 3.25rem;





/**
 * Functions
 *
 * This should ideally have it's own file.
 * But that would mean a lot of extra
 * importing (into components), so I just
 * put it here.
 */
@function bp( $bp ){
	@return map_get( $bps, $bp );
}

@function bp_max( $bp ){
	@return map_get( $bps_max, $bp );
}
