/**
 * Preloaded styles (Fonts)
 */

@font-face {
	font-family: "GT Super Display";
	src: url("~/wp-content/themes/jvconsulting/assets/fonts/GT-Super-Display-Light-Italic.ttf");
	font-display: swap;
}
@font-face {
	font-family: "GT Super Display";
	src: url("~/wp-content/themes/jvconsulting/assets/fonts/GTSuperDisplay-LightItalic.eot");
	src: url("~/wp-content/themes/jvconsulting/assets/fonts/GTSuperDisplay-LightItalic.eot?#iefix")
			format("embedded-opentype"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/GTSuperDisplay-LightItalic.woff2")
			format("woff2"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/GTSuperDisplay-LightItalic.woff")
			format("woff"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/GTSuperDisplay-LightItalic.ttf")
			format("truetype"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/GTSuperDisplay-LightItalic.svg#GTSuperDisplay-LightItalic")
			format("svg");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "franklingothic";
	src: url("~/wp-content/themes/jvconsulting/assets/fonts/FranklinGothicFS-Book.eot");
	src: url("~/wp-content/themes/jvconsulting/assets/fonts/FranklinGothicFS-Book.eot?#iefix")
			format("embedded-opentype"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/FranklinGothicFS-Book.woff2")
			format("woff2"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/FranklinGothicFS-Book.woff")
			format("woff"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/FranklinGothicFS-Book.ttf")
			format("truetype"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/FranklinGothicFS-Book.svg#FranklinGothicFS-Book")
			format("svg");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "franklingothic";
	src: url("~/wp-content/themes/jvconsulting/assets/fonts/franklingothic-demi-webfont.ttf"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/franklingothic-demi-webfont.woff2")
			format("woff2"),
		url("~/wp-content/themes/jvconsulting/assets/fonts/franklingothic-demi-webfont.woff")
			format("woff");
	font-weight: 500;
	font-display: swap;
}
