/*!
Theme Name:   JV Consulting
Description:  A custom made theme. Crafted for years and years in the dungeons of The Lonely Mountain.
Author:       Zeth
Author URI:   https://zeth.dk
Text Domain:  jvconsulting_lang
*/
$animationDuration: 0.5s; // specify animation duration. Default value: 1s
@import "../../node_modules/vue2-animate/src/sass/vue2-animate.scss";

// DONT PUT FONTS HERE. PUT THEM IN THE PRELOADED FILE

// Abstracts
@import "abstracts/variables";

// Mixins
@import "mixins/polyfill";
@import "mixins/responsive";
@import "mixins/spacing";
@import "mixins/typography";
@import "mixins/button";
@import "mixins/form";

// Base
@import "base/typography";
@import "base/base";
@import "base/grid";
@import "base/global";
@import "base/wordpress";
@import "base/forms";

// Layout
@import "layout/footer";
@import "layout/header";

// Components
// @import "components/modal";
@import "components/search";
@import "components/acf";
@import "components/social-media";
@import "components/boxlink";
@import "components/service";

// Pages
@import "pages/404";
@import "pages/maintenance";


// Shame-section (!)
.home-two-column-quickfix {

	.row [class^='col-']:first-child > div {

		@media screen and (min-width: bp(smdesk) ){
			padding-right: 160px;
		}
	}
}



.no-hyphens {
	hyphens: manual;

	p {
		hyphens: manual;
	}
}



.no-hyphens-on-phones {

	@media screen and (max-width: bp_max(smtab) ){
		hyphens: manual !important;

		p {
			hyphens: manual !important;
		}
	}
}



