/**
 * Footer
 */

#app__footer {

	.footer__first-row {
		@include section-padding("padding-top");
		@include section-padding("padding-bottom");

		a {
			text-decoration: underline;
			@include text-color($black);

			&:hover {
				text-decoration: none;
			}
		}
	}
}
