<template>
	<div
		:class="[
			'container-fluid',
			'container-fluid__fullscreen',
			'acf-block__container',
			cssClasses,
		]"
		v-bind:style="{
			backgroundColor: backgroundColor,
		}"
		:id="id"
	>

		<div
			class="image__desktop"
			v-if="viewingStyle === 'desktop'"
		>
			<div class="inner">
				<img
					:src="block.ftc_image.sizes.large"
					:alt="block.ftc_image.alt"
					v-if="viewingStyle === 'desktop'"
				/>
			</div>
			<!-- /.inner -->
		</div>
		<!-- /.image__desktop -->

		<div class="container" v-bind:id="innerId">
			<div class="row">
				<div class="col-12 col-mdtab-6 column-left">
					<div
						class="inner"
						v-if="viewingStyle === 'mobile'"
					>
						<img
							:src="block.ftc_image.sizes.large"
							:alt="block.ftc_image.alt"
							v-if="viewingStyle === 'mobile'"
						/>
					</div>
					<!-- /.inner -->
				</div>
				<div class="col-12 col-mdtab-6 column-right">

					<div
						class="center-image__mobile__container"
						v-if="viewingStyle === 'mobile'"
					>
						<img
							:src="themeRoot + '/assets/img/fullscreen_two_columns_center_logo.png'"
							alt="JV Consulting circle"
						/>
					</div>
					<!-- /.center-image-container -->

					<div class="inner">
						<div class="quote" v-html="block.ftc_title">
						</div>
					</div>
					<!-- /.inner -->
				</div>
			</div>
		</div>

		<div
			class="center-image__desktop__container"
			v-if="viewingStyle === 'desktop'"
		>
			<img
				:src="themeRoot + '/assets/img/fullscreen_two_columns_center_logo.png'"
				alt="JV Consulting circle"
			/>
		</div>
		<!-- /.center-image-container -->

		<div
			class="left-bg"
			v-if="viewingStyle === 'desktop'"
		>
		</div>
		<div
			class="right-bg"
			v-if="viewingStyle === 'desktop'"
		>
		</div>

	</div>
</template>

<script>
import { acfBlockSettingsMixins } from "@mixins/acfBlockSettingsMixins";
import { baseMixins } from "@mixins/baseMixins";

export default {
	mixins: [
		acfBlockSettingsMixins,
		baseMixins
	],
	props: {
		block: Object,
	},
	data: function() {
		return {
			viewingStyle: ''
		};
	},
	computed: {
		themeRoot: function() {
			return window.themeRoot;
		},
	},
	mounted() {
		this.calcViewingStyle();
	},
	methods: {
		calcViewingStyle(){
			if( this.viewportWidth >= 875 ){
				this.viewingStyle = 'desktop';
			} else {
				this.viewingStyle = 'mobile';
			}
		},
		fullscreenFrontpageResized(){

			if( this.viewportWidthChanged ){
				this.calcViewingStyle();
			}
		}
	},
	created() {
		// scroll, resize, mousemove
		window.addEventListener('resize', this.fullscreenFrontpageResized );
	},
	destroyed() {
		window.removeEventListener('resize', this.fullscreenFrontpageResized );
	},
};
</script>

<style lang="scss">
@import "~sasspath/abstracts/variables";
@import "~sasspath/all-mixins";
$fullscreen-frontpage-height-mobile: 40vh;

$center_image_width_and_height_desktop: 34.375rem;
$center_image_width_and_height_tablet: 22rem;
$center_image_width_and_height_phone: 15rem;


.fullscreen-frontpage__container {
	width: 100%;
	max-width: 100%;
	position: relative;

	@media screen and (min-width: bp(mdtab) ){
		@include header-adjuster( min-height, 100vh, subtract, true );
	}

	.image__desktop {
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1100;

		.inner {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
			margin-left: auto;
			margin-right: $double_space;
			max-width: calc( 100% - calc( #{$space} * 4 ) );

			img {
				display: block;
				object-fit: contain;
				object-position: right;
				height: 100%;
				max-height: calc( 100% - #{$double_space} );
				max-width: 100%;
			}
		}

		@media screen and (min-width: bp(smdesk) ){

			.inner {
				margin-right: $quintuple_space;
				max-width: calc( 100% - calc( #{$space} * 10 ) );

				img {
					max-width: 100%;
				}
			}
		}
	}


	.center-image__desktop__container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1075;

		> img {
			display: block;
			width: $center_image_width_and_height_phone;
			height: $center_image_width_and_height_phone;
			@include header-adjuster( max-height, 100vh, subtract, true );

			@media screen and (min-width: bp(mdtab) ){
				width: $center_image_width_and_height_tablet;
				height: $center_image_width_and_height_tablet;

				@media screen and (max-height: 600px ){
					display: none !important;
				}
			}

			@media screen and (min-width: bp(smdesk) ){
				width: $center_image_width_and_height_desktop;
				height: $center_image_width_and_height_desktop;

				@media screen and (max-height: 800px ){
					width: $center_image_width_and_height_tablet;
					height: $center_image_width_and_height_tablet;
				}
			}

		}
	}


	.container {
		position: relative;
		z-index: 1050;

		.row {

			.column-left {
				background: $light;

				@media screen and (min-width: bp(mdtab) ){
					background: transparent;
				}

				.inner {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-left: auto;
					margin-right: auto;

					img {
						max-width: 80%;
						max-height: 80%;
						width: 100%;
						display: block;
						object-fit: contain;
						height: 100%;
						margin-top: $double_space;
						margin-bottom: $double_space;

						@media screen and (max-width: bp_max(mdtab) ){
							position: relative;
							z-index: 1150;
						}
					}
				}
			}

			.column-right {
				position: relative;
				z-index: 1050;
				color: $light;
				background: $dark;

				@media screen and (min-width: bp(mdtab) ){
					@include header-adjuster( min-height, 100vh, subtract, true );
					@include header-adjuster( height, 100vh, subtract, true );
					background: transparent;
				}

				.center-image__mobile__container {
					position: absolute;
					left: 0;
					width: 100%;
					height: 200px;
					top: -100px;

					@media screen and (min-width: bp(xxsph) ){
						height: 300px;
						top: -150px;
					}

					@media screen and (min-width: bp(mdph) ){
						height: 500px;
						top: -250px;
					}

					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						width: 200px;
						height: 200px;

						@media screen and (min-width: bp(xxsph) ){
							width: 300px;
							height: 300px;
						}

						@media screen and (min-width: bp(mdph) ){
							width: 500px;
							height: 500px;
						}
					}
				}

				.inner {
					display: flex;
					flex-direction: column;
					min-height: 70vh;
					justify-content: center;
					align-items: center;
					padding-right: $one_and_a_half_space;

					.quote {
						padding-top: $double_space;
						padding-bottom: 0;
						margin-bottom: 0;
						color: $white !important;
						hyphens: manual !important;

						p {
							hyphens: manual !important;
							@include quote();
							padding-bottom: 0;
							margin-bottom: 0;
						}

						// MIN WIDTH
						@media screen and (min-width: bp(mdtab) ){
							position: absolute;
							bottom: 20%;
							right: 10%;
							width: 70%;
							color: $white;
							padding-top: 0;
						}

						@media screen and (min-width: bp(lgtab) ){
							font-size: 2.75rem;
						}


						// MAX WIDTH
						@media screen and (max-width: bp_max(lgdesk) ){
							width: 80%;
							bottom: 10%;
						}


						@media screen and (max-width: bp(smdesk)) {
							width: 90%;
							left: 5%;
						}

						@media screen and (max-width: bp(smtab)) {
							width: 90%;
							left: 5%;
						}
					}
				}
			}
		}
	}


	.left-bg {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 50%;
		background-color: $light;
		z-index: 1000;
	}

	.right-bg {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50%;
		background-color: $dark;
		z-index: 1000;
	}

}
</style>
