<template>
	<div :id="id">
		<div id="generel__top-row-for-mobile-scrolling"></div>




			<!--
			SLIDE 1
			-->
			<transition
				name="fade"
				mode="out-in"
				tag="div"
				class="slide-wrapper"
			>
				<div
					v-if="currentSlide === 0"
					class="slide-inner-wrapper welcome-slide"
				>
					<div class="content">

						<div class="inner" v-html="welcomeFields.welcome_text">
						</div>
						<!-- /.inner -->
						<button
							class="zbtn__white__large"
							type="button"
							@click="goToSlide(1 )"
						>
							{{ welcomeFields.start_quiz_button_value }}
						</button>

						<button
							class="zbtn__text-white"
							type="button"
							@click="openShareModal()"
						>
							Del quizzen med en ven
						</button>

					</div>
				</div>
			</transition>





			<!--
			SLIDES
			-->
			<transition-group
				name="fade"
				mode="out-in"
				tag="div"
				class="slide-wrapper"
			>
				<div
					v-if="( index + 1 ) === currentSlide"
					v-for="( slide, key, index ) in slides"
					:key="index + 0"
					:class="[ 'slide-inner-wrapper', 's' + currentSlide ]"
				>
					<single-quiz-slide
						:possible-answers="slide.answers"
						:question="slide.question"
						:footnote="slide.footnote"
						:question-mark-icon-url="slide.question_mark_icon"
						:answer-explanation="slide.answer_explanation"
						:slide-number="currentSlide"
						:selected-answer="getSelectedAnswer( index + 1 )"
						:next-slide-button-value="getNextSlideButtonValue()"
					>
					</single-quiz-slide>
				</div>
				<!-- /.row -->
			</transition-group>






			<!--
			RESULT
			-->
			<transition
				name="fade"
				mode="out-in"
				tag="div"
				class="slide-wrapper"
			>
				<div
					v-if="currentSlide === maxSlideNumber"
					class="slide-inner-wrapper result-slide"
				>
					<div class="inner">
						<h1>
							{{ resultPage.title_on_page }}
						</h1>
						<p class="zlarge">
							Du har svaret rigtigt på<br />
							<span>
								{{ correctAnswers }}
							</span>
							ud af {{ maxSlideNumber - 1 }} spørgsmål.
						</p>
						<div
							class="result-slide__description-field"
							v-html="resultPage.text"
						></div>
						<div class="result-buttons">
							<button
								class="zbtn__white"
								type="button"
								@click="reloadPage()"
							>
								Prøv igen
							</button>

							<button
								class="zbtn__white"
								type="button"
								@click="openShareModal()"
							>
								Del quizzen med en ven
							</button>
							<a
								href="/"
								title="Danske Taler"
								class="zbtn__white"
							>
								Til forsiden
							</a>
						</div>
						<!-- /.result-buttons -->
					</div>
					<!-- /.result-slide__text-inner -->
				</div>
				<!-- /.row -->
			</transition>




		<!--
		GENEREL STUFF
		-->
		<div class="generel__container">
			<div id="generel__progress">
				<div id="indicator">
				</div>
				<!-- /.indicator -->
			</div>
			<!-- /.generel__progress -->

			<div
				v-if="showBackButton()"
				class="back-button-and-page-number"
			>
				<button
					v-if="currentSlide !== 0"
					@click="goToSlide( currentSlide-1 )"
				>
					Tilbage
				</button>
				<p v-if="currentSlide !== maxSlideNumber">
					{{ currentSlide }} / {{ maxSlideNumber - 1 }}
				</p>
			</div>
			<p
				v-if="showTestName()"
				class="generel__test-name"
			>
				{{ name }}
			</p>
			<!-- /.back-button-and-page-number -->

		</div>
		<!-- /.generel__container -->






		<!--
		Modal
		-->
		<modal name="share" class="share-modal">
			<div class="v-modal__inner">
				<h3>Del</h3>
				<p>
					Her er et direkte link til siden:
				</p>
				<div class="link">
					<input
						id="share-link-current-url"
						type="text"
						:value="getCurrentUrl()"
						readonly="readonly"
					/>
					<button
						v-if="canHover"
						class="zbtn__primary"
						type="button"
						@click="addStringToClipboard( '#share-link-current-url' )"
					>
						{{ copyTextButtonStr }}
					</button>
				</div>
				<!-- /.link -->
				<slot name="sharing">
				</slot>
			</div>
			<!-- /.inner -->
		</modal>

	</div>
	<!-- /.container-fluid -->
</template>

<script>
	import { baseMixins } from '@mixins/baseMixins';
	import SingleQuizSlide from './SingleQuizSlide.vue';
	import VueScrollTo from 'vue-scrollto';

	export default {
		name: 'Quiz',
		mixins: [ baseMixins ],
		components: {
			SingleQuizSlide,
			VueScrollTo
		},
		props: {
			name: String,
			initialWelcomeFields: String,
			initialSlides: String,
			initialResultPage: String
		},
		data: function () {
			return {
				id: 'quiz',
				welcomeFields: JSON.parse( this.initialWelcomeFields ),
				slides: JSON.parse( this.initialSlides ),
				resultPage: JSON.parse( this.initialResultPage ),
				correctAnswers: 0,
				currentSlide: 0,
				maxSlideNumber: null,
				slideIndicator: null,
				rightBackground: null,
				questionsAndAnswers: [],
				copyTextButtonStr: 'Kopiér'
			}
		},
		mounted() {
			this.maxSlideNumber = Object.keys( this.slides ).length + 1; // Welcome + Result, zero-indexed
			this.rightBackground = document.getElementById( this.id + '-background' );
			this.initIndicator();
			this.calcQuizClasses();
		},
		watch: {
		},
		computed: {
		},
		methods: {
			reloadPage(){
				window.location.reload();
			},
			addStringToClipboard( queryString ){
				let el = document.querySelector( queryString );
				if( el ){
					el.focus();
					el.select();
					document.execCommand( 'copy' );
					this.copyTextButtonStr = 'Kopieret!'
					setTimeout( () => {
						this.copyTextButtonStr = 'Kopiér'
					}, 15000 );
				}
			},
			getCurrentUrl(){
				return window.location.href;
			},
			openShareModal(){
				this.$modal.show( 'share' );
			},
			closeShareModal(){
				this.$modal.hide( 'share' );
			},
			getNextSlideButtonValue(){
				if( this.currentSlide === ( this.maxSlideNumber - 1 ) ){
					return 'Se resultatet';
				}

				return 'Næste spørgsmål';
			},
			initIndicator(){
				this.slideIndicator = document.getElementById( 'indicator' );
				this.calcIndicator();
			},
			showTestName(){
				return !! ( this.currentSlide > 0 && this.currentSlide < this.maxSlideNumber );
			},
			showBackButton(){
				return !! ( this.currentSlide >= 1 && this.currentSlide <= this.maxSlideNumber );
			},
			getSelectedAnswer( slideNumber ){
				if( this.questionsAndAnswers[ slideNumber ] !== undefined ){
					return this.questionsAndAnswers[ slideNumber ];
				}
				return -1;
			},
			checkIfAllSlideInfoIsThere: function( slideInfo ){
				if( ! slideInfo ){
					// console.log( 'The entire slideInfo is missing' );
					return false;
				}

				if( ! slideInfo.slide_title ){
					// console.log( 'slide_title is missing' );
					return false;
				}

				if( ! slideInfo.slide_number ){
					// console.log( 'slide_number is missing' );
					return false;
				}

				if( ! slideInfo.answers ){
					// console.log( 'answers is missing' );
					return false;
				}

				return true;
			},
			calcQuizClasses(){
				let quizEl = document.querySelector( '#quiz' );
				if( quizEl ){
					quizEl.classList.remove( 'result-active' );
					quizEl.classList.remove( 'welcome-active' );
					quizEl.classList.remove( 'quiz-active' );

					if( this.currentSlide === this.maxSlideNumber ){
						quizEl.classList.add( 'result-active' );
					} else if( this.currentSlide === 0 ){
						quizEl.classList.add( 'welcome-active' );
					} else {
						quizEl.classList.add( 'quiz-active' );
					}
				}
			},
			goToSlide: function( slideNumber ){
				if( this.viewportWidth < 768 ){
					VueScrollTo.scrollTo( '#generel__top-row-for-mobile-scrolling', 500, {} );
				}

				// Remove potential classes on the right-background
				if( this.rightBackground ){
					this.rightBackground.classList.remove( 'answer-was-true' );
					this.rightBackground.classList.remove( 'answer-was-false' );
				}

				this.currentSlide = slideNumber;
				this.calcIndicator();

				this.calcQuizClasses();
			},
			calcIndicator: function(){
				if( this.slideIndicator ){
					this.slideIndicator.style.width = ( this.currentSlide / this.maxSlideNumber * 100 ) + '%';
				}
			},
			beforeOpenModal: function(){
				document.body.classList.add( 'body__share-modal-open');
			},
			beforeCloseModal: function(){
				document.body.classList.remove( 'body__share-modal-open');
			}
		},

		created() {
		},
		destroyed() {
		}
	}
</script>


<style lang="scss">
	@import '~sasspath/abstracts/variables';
	@import '~sasspath/all-mixins';

	/**
	 * Container(s)
	 */
	#quiz {
		background: $primary;
		position: relative;
		width: 100%;

		@media screen and (max-width: 1024px){
			@include admin-bar-adjuster( min-height, 600px, subtract );
		}

		@media screen and (min-width: 768px){
			@include admin-bar-adjuster( min-height, 775px, subtract );
			@include admin-bar-adjuster( height, 100vh, subtract );
			overflow: hidden;
		}

		// GRID
		&.result-active {

			.generel__container {
				@include text-color( $white );

				.back-button-and-page-number {

					button {
						color: $white;
					}
				}
			}
		}

		// SPECIFIC SLIDES
		.welcome-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include admin-bar-adjuster( min-height, 100vh, subtract );
			background: $primary;
			@include text-color( $white );

			.content {
				padding: $one_and_a_half_space;
				width: 37.5rem;
				max-width: 100%;

				button {
					margin-top: $space;
				}

				.zbtn__text-white {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		.result-slide {
			@include text-color( $white );
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include admin-bar-adjuster( min-height, 100vh, subtract );

			> .inner {
				text-align: center;
				min-height: 600px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.result-buttons {
					margin-top: $triple_space;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					> button {
						margin-right: $space;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}

		.generel__right-orange-bg {
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			right: 0;
			background: $orange;
			display: block;
			z-index: 10;
		}
	}





	/**
	 * Generel
	 */
	$quiz_top_bar_height: 0.55rem;
	.generel__container {
		width: 100%;
		position: absolute;
		left: 0;
		top: calc( 5px + #{$quiz_top_bar_height} );
		z-index: 1995;

		@media screen and (max-width: 767px){
			width: 100%;
		}
	}

	#generel__progress {
		position: fixed;
		@include admin-bar-adjuster( top, 0px );
		left: 0;
		width: 100%;
		height: $quiz_top_bar_height;
		background: $white;
		z-index: 1910;

		#indicator {
			background: $dark;
			z-index: 1920;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			transition: all 0.5s;
		}
	}

	.back-button-and-page-number {
		position: fixed;
		@include admin-bar-adjuster( top, #{$header_space_from_top} );
		@include page-offset( left );
		// left: 20px;
		z-index: 1900;
		transition: all 0.5s;
		display: flex;
		flex-direction: row;
		color: $dark;

		p {
			margin-bottom: 0;
			color: $dark;
		}

		button {
			background: none;
			border: none;
			outline: none;
			color: $dark;
			padding: 0;
			text-decoration: underline;
			margin-right: 5px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.generel__test-name {
		@include page-offset( margin-right );
		// margin-top: $header_space_from_top;
		margin-top: 1.3rem;
		margin-bottom: 0;
		text-align: right;
		font-weight: bold;
		color: $dark;

		@media screen and (min-width: bp(smtab) ){
			@include h3();
			color: $white;
		}

		@media screen and (max-width: bp_max(smph) ){
			display: none !important;
		}
	}






	.generel__right-background {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		// background: $primary;
		transition: all 0.2s;

		&.answer-was-false {
			// background: $monza !important;
		}

		&.answer-was-true {
			// background: $green_light !important;
		}

		&.generel__right-background__slide-12 {
			width: 100%;
			background: $white;
		}
	}





	.share-modal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.vm--modal {
			width: calc( 100% - #{$double_space} ) !important;
			max-width: 37.5rem;
			left: auto !important;
			top: auto !important;
		}

		.link {
			position: relative;
			width: 100%;
			display: block;
			margin-bottom: $one_and_a_half_space;

			input {
				width: calc( 100% - 125px );
				@include input();
				background: $grey;
				color: $white;
				font-weight: bold;

				@media screen and (max-width: bp_max(mdph) ){
					font-size: 0.778rem;
				}
			}

			button {
				position: absolute;
				top: 2px;
				right: 3px;
			}
		}
	}

</style>
