/**
 * ACF-styles
 */

.text-colorscheme__light {
	@include text-color( $light );
}

.text-colorscheme__dark {
	@include text-color( $dark );
}





// Generel
.acf-block__container {
	// @include section-padding( margin-bottom );

	[class^='col-'] {

		> *:first-child {
			margin-top: 0;
		}
	}
}





.block-title__inner {
	@include editor-content-typography();
	margin-bottom: $double_space;

	@media screen and (min-width: bp(smtab) ){
		margin-bottom: $triple_space;
	}
}





// Background classes
.block-has-background {
	@include section-padding( padding-top );
	@include section-padding( padding-bottom );
}

.block-below-has-background {

	&.block-has-background {
		margin-bottom: 0 !important;
	}
}




// Stacked or not stacked
.columns-stacked {

	&.editors-two-columns__container {

		.etc__row [class^='col-'] {
			margin-bottom: $space;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	&.editors-three-columns__container {

		.etc__row [class^='col-'] {
			margin-bottom: $space;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	&.editors-three-columns-with-space__container {

		.etcws__row > div {
			margin-bottom: $space;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	&.editors-four-columns__container {

		.etc__row [class^='col-'] {

			margin-bottom: $space;

			&:nth-last-child( -n+2 ) {
				margin-bottom: 0;
			}
		}
	}


	&.editors-five-columns__container {

		.fce__columns .fce__column {
			margin-bottom: $space;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


