@keyframes fadeInBoxlink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.boxlink {
	flex-grow: 1;
	width: 33%;
	max-width: 33%;
	min-height: 11.25rem;
	@include section-padding("margin-bottom");

	padding: 0.9375rem;
	@media screen and (max-width: bp(smtab)) {
		width: 100%;
		max-width: 100%;
	}
}

.boxlink__content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: $default_font_color;

	&:hover {
		span {
			text-decoration: underline;
		}
		.arrow-right {
			display: none;
		}
		.arrow-right--active {
			display: inline;
		}
	}

	.arrow-right--active {
		display: none;
	}

	.image-container {
		margin-bottom: 2.1875rem;
		.image {
			height: 10.625rem;
			width: 16.0625rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-color: $light;
		}
	}
	.title {
		@include h3();
		margin-bottom: 1.875rem;
	}
	.paragraph {
		font-size: 1.188rem;
		margin-bottom: 1.875rem;
	}
	.link {
		cursor: pointer;
		padding-bottom: 1.5625rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include text-color($blue);
		font-weight: 400;
		font-size: 1.188rem;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 2px solid #000;
		span {
			transition: 0.2s ease all;
		}
	}
}

.boxlink__see-all {
	@include section-padding("padding-top");

	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	@include h2();
	text-transform: uppercase;

	span {
		margin-right: 3.125rem;
		@include text-color($black);
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: 1.5625rem;
	}
	img {
		margin-bottom: 1.75rem;
	}
	cursor: pointer;
	.arrow-right--active {
		display: none;
	}

	&:hover {
		.arrow-right {
			display: none;
		}
		.arrow-right--active {
			display: inline;
		}
	}
}
