/**
 * Modal
 */

.v--modal-overlay {
	z-index: 9999 !important;
}

.v--modal-background-click {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.v--modal-box[style] {
	height: auto !important;
	top: auto !important;
	width: auto !important;
	left: auto !important;
}

.v--modal-box {
	max-height: calc( 100vh - 100px );
	max-width: 62.5rem;
	z-index: 7000;
	overflow: auto;

	@media screen and (max-width: bp_max(lgtab) ){
		max-width: 95%;
	}
}


.v-modal__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: $double_space;
	// max-height: calc( 100vh - 100px );
	position: relative;

	@media screen and (max-width: bp_max(mdtab) ){
		min-width: 90vw;
		width: 1px;
		min-height: 90vh;
		height: 1px;
	}

	.v-modal__inner-inner {
		position: absolute;
		display: block;
		top: $double_space;
		left: $double_space;
		width: calc( 100% - #{$quadruple_space} );
		height: calc( 100% - #{$quadruple_space} );
		overflow: auto;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}


	.modal__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9750;
		background: none;
		border: none;
		@include small();
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 35px;
		min-width: 35px;
	}
}

.body__modal-open {
	overflow: hidden;
}

