/**
 * Search
 */




// Search form
$submit_width: 3.5rem;

.searchform__outer {

	.searchform__inner {
		position: relative;
		width: 31.25rem;
		padding: 0 $submit_width 0 0;
		border-radius: $border_radius;
		border: none;
		overflow: hidden;
		background: $dark;

		input[type='text'] {
			background: none;
			border: none;
			outline: none;
			height: 100%;
			padding: $space;
			width: calc( 100% - #{$submit_width} );
			font-size: 2rem;
			color: $white;
		}

		// input[type='submit'] {
		.search-submit {
			margin: 0 !important;
			position:absolute;
			width: $submit_width;
			height: 100%;
			right: 0;
			top:0;
			font-weight: 900;
			z-index: 50;
			border: none;
			outline: none;
			background: $primary;
			transition: all 0.2s;
			color: $white;

			&:hover {
				background: darken( $primary, 30% );
			}
		}
	}
}




// Search results
body.search-results {

	.loop__outer-container {
		margin-bottom: $space;
		padding-bottom: $space;
		border-bottom: $border_width solid $primary;

		&:first-child {
			margin-top: $quadruple_space;
		}
	}
}




.search-results__no-results {
	min-height: 18.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		display: block;
		text-align: center;
	}
}
