/**
 * Social Media
 */

.social-media__container {
	display: flex;
	flex-direction: row;

	.social-media__single {
		opacity: 1;
		transition: all 0.2s;
		padding-right: $half_space;
		display: block;

		&:hover {
			opacity: 0.7;
		}
	}
}
