/**
 * Video
 */

.video-uploaded__container {
	width: 100%;
	height: auto;

	.video-js {
		max-width: 100%;

		// PLAY BUTTON
		$video-play-button-width: 6rem;
		$video-play-button-height: 6rem;
		.vjs-big-play-button {
			// DEFAULT
			font-size: 3em;
			line-height: 1.5em;
			//height: 1.63332em;
			//width: 3em;
			display: block;
			position: absolute;
			//top: 10px;
			//left: 10px;
			padding: 0;
			cursor: pointer;
			opacity: 1;
			// border: 0.06666em solid #fff;
			// background-color: #2B333F;
			// background-color: rgba(43, 51, 63, 0.7);
			//border-radius: 0.3em;
			transition: all 0.4s;

			// Custom
			height: $video-play-button-height;
			width: $video-play-button-width;
			top: calc( 50% - calc( #{$video-play-button-height} * 0.5 ) );
			left: calc( 50% - calc( #{$video-play-button-width} * 0.5 ) );
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid $white;
			outline: none;

			span {
				font-size: 3.5rem;

				&:before {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}

		&.vjs-playing {

			.vjs-big-play-button {
				opacity: 0;
				display: none;
			}
		}


		// Display control-bar just under video
		/*
		.vjs-control-bar {
			top: 100%;
		}
		*/

		// Remove outline
		.vjs-tech {
			outline: none;
		}


	} // .video-js




	// Disallow fullscreen
	/*
	&.video__disallow-fullscreen {

		.vjs-fullscreen-control {
			display: none !important;
		}
	}
	*/





	&.video__skin__default {

		.vjs-control-bar {
			background: transparent;
		}
	}




	$video__minimal__controls-height: 2.3rem;
	$video__minimal__bar-height: 3px;
	&.video__skin__minimal {

		.vjs-control-bar {
			background: transparent;
			height: $video__minimal__controls-height;

			.vjs-progress-control {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: $video__minimal__bar-height;

				.vjs-slider {
					background: rgba( $primary, 0.5 );

					&.vjs-progress-holder {
						height: $video__minimal__bar-height;
						margin: 0;
					}

					// BAR
					.vjs-load-progress div {
						background: $primary;
					}

					.vjs-play-progress {
						background: $cta;

						&:before { // The dot
							opacity: 0;
						}
					}
					// END BAR

				}
			}

			.vjs-fullscreen-control {
				position: absolute;
				right: 0;
				bottom: 0;
			}

			.vjs-remaining-time {
				display: none !important;
			}
		}
	}





	// SHOW/HIDE CONTROLS
	&.video__controls__always_show_regardless {

		.vjs-control-bar {
			opacity: 1 !important;
			display: flex !important;
		}
	}

	&.video__controls__always_show_when_playing {

		.vjs-has-started.vjs-user-inactive.vjs-playing {

			.vjs-control-bar {
				opacity: 1 !important;
			}
		}
	}

	&.video__controls__hide_when_inactive {
		// Default
	}

	&.video__controls__hide_regardless {

		.vjs-control-bar {
			display: none !important;
		}
	}





}
