/**
 * Button mixins
 */


@mixin button( $size: 'regular' ){

	@if( $size == 'small' ) {
		padding: $half_space;
		display: inline-block;
	} @else if( $size == 'regular' ){
		padding: $half_space $space;
		display: inline-block;
	} @else if( $size == 'large' ){
		padding: $space $double_space;
		display: inline-block;
	}


	// Resetting WordPress Button Style
	text-shadow: none;
	box-shadow: none;
	text-align: center;
	border-radius: $border_radius;
	border: none;

	// Default styles
	// text-transform: uppercase;
	transition: all 0.2s;
	text-decoration: none !important;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;

	// Other customized
	margin-bottom: $half_space;

	&:hover {
		text-decoration: none !important;
	}

	&:disabled {
		opacity: 0.2;
	}
}




@mixin button-reset(){
	border: none;
	outline: none;
	background: transparent;

	&:focus {
		outline: none !important;
	}
}





@mixin white-button( $size: 'regular' ) {
	@include button( $size );
	border: 4px solid $white;
	background: $white;
	color: $dark;

	&:hover:not( :disabled ) {
		border: 4px solid darken( $white, 20% );
		background: darken( $white, 20% );
		color: $dark;
	}
}




@mixin light-button( $size: 'regular' ) {
	@include button( $size );
	border: 4px solid $light;
	background: $light;
	color: $dark;

	&:hover:not( :disabled ) {
		border: 4px solid darken( $light, 20% );
		background: darken( $light, 20% );
		color: $dark;
	}
}





@mixin dark-button( $size: 'regular' ) {
	@include button( $size );
	border: 4px solid $dark;
	background: $dark;
	color: $white;

	&:hover:not( :disabled ) {
		border: 4px solid $dark;
		background: $white;
		color: $dark;
	}
}





@mixin primary-button( $size: 'regular' ) {
	@include button( $size );
	background: $primary;
	color: $white;

	&:hover:not( :disabled ) {
		background: darken( $primary, 20% );
		color: $white;
	}
}





@mixin secondary-button( $size: 'regular' ) {
	@include button( $size );
	border: 4px solid $secondary;
	background: $secondary;
	color: $dark;

	&:hover:not( :disabled ) {
		border: 4px solid darken( $secondary, 20% );
		background: darken( $secondary, 20% );
		color: $white;
	}
}




@mixin cta-button( $size: 'regular' ) {
	@include button( $size );
	border: 4px solid $cta;
	background: $cta;
	color: $dark;

	&:hover:not( :disabled ) {
		border: 4px solid darken( $cta, 20% );
		background: darken( $cta, 20% );
		color: $dark;
	}
}




