/**
 * Form
 */


@mixin label(){
	font-weight: $label_font_weight;
	font-size: $label_font_size;
	margin-bottom: $label_margin_bottom;
}


@mixin form-group__container(){
	display: flex;
	flex-direction: column;
	margin-bottom: $half_space;
	max-width: $form_group_max_width;
}






/**
 * Solo fields
 */
@mixin input-text(){
	display: block;
	width: 100%;
	padding: $input_padding;
	font-size: $input_font_size;
	font-weight: $input_font_weight;
	line-height: $input_line_height;
	color: $input_color;
	background-color: #FFFFFF;
	background-clip: padding-box;
	border: $input_border_width $input_border_style $input_border_color;
	border-radius: $border_radius;
	transition: all 0.2s;
	margin-bottom: $input_margin_under_fields;

	&::placeholder {
		font-size: $input_placeholder_font_size;
		color: $input_placeholder_color;
		opacity: $placeholder_no_focus_opacity;
		transition: 0.3s;
	}

	&:focus::placeholder {
		opacity: $placeholder_focus_opacity;
	}

	&.invalid {
		border: $input_border_width $input_border_style $error;
	}
}


@mixin textarea(){
	display: block;
	width: 100%;
	padding: $input_padding;
	font-size: $input_font_size;
	font-weight: $input_font_weight;
	line-height: $input_line_height;
	color: $input_color;
	background-color: #FFFFFF;
	background-clip: padding-box;
	border: $input_border_width $input_border_style $input_border_color;
	border-radius: $border_radius;
	transition: all 0.2s;
	margin-bottom: $input_margin_under_fields;

	&::placeholder {
		font-size: $input_placeholder_font_size;
		color: $input_placeholder_color;
		opacity: $placeholder_no_focus_opacity;
		transition: 0.2s;
	}

	&:focus::placeholder {
		opacity: $placeholder_focus_opacity;
	}
}





// Both checkboxes and radio-buttons
// Source: https://www.inserthtml.com/2012/06/custom-form-radio-checkbox/
@mixin form-group__checkbox(){
	display: block;
	margin-bottom: $input_margin_under_fields;

	label {
		display: inline;
		margin-bottom: 0;
	}

	input[type='checkbox'],
	input[type='radio'] {

		& + label {
			display: inline-block;
			position: relative;
			padding-left: calc( #{$checkbox_width} + #{$half_space} );
		}
	}


	input[type='checkbox'] {
		display: none;

		& + label {

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 3px;
				left: 3px;
				width: $checkbox_width;
				height: $checkbox_width;
				display: block;
				transition: all 0.2s;
			}

			&:before {
				z-index: 1001;
				border: 1px solid $dark;
			}
			&:after {
				z-index: 1002;
				opacity: 0;
				background: $warning;
			}
		}

		&:checked {

			& + label {

				&:after {
					opacity: 1;
				}
			}
		}
	}

	// RADIO
	input[type='radio'] {
		display: none;

		& + label {

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0px;
				left: 3px;
				width: $checkbox_width;
				height: $checkbox_width;
				display: block;
				transition: all 0.2s;
			}

			&:before {
				z-index: 1001;
				border: 1px solid $dark;
			}
			&:after {
				z-index: 1002;
				opacity: 0;
				background: $warning;
			}
		}

		&:checked {

			& + label {

				&:after {
					opacity: 1;
				}
			}
		}
	}
}




/**
 * Containers
 */
@mixin form-group__regular(){
	@include form-group__container();

	label {
		@include label();
	}

	input[type='text'],
	input[type='number'],
	input[type='email'] {
		@include input-text();
	}

	textarea {
		@include textarea();
	}

	.required {
		color: $red;
	}
}





/**
 * Helpers
 */
@mixin below-field-warning(){
	@include small();
	font-weight: normal;
	display: block;
	background: $error;
	color: $white;
	margin-top: calc( -1 * #{$input_margin_under_fields} );
	margin-bottom: calc( 2 * #{$input_margin_under_fields} );
	padding: $half_space;
}


