/**
 * Polyfill Mixins
 */





/*
 * Object-fit-images
 *
 * Source: https://github.com/bfred-it/object-fit-images
 *
 * This mixin can be used to set the object-fit:
 * @include object-fit(contain);
 * or object-fit and object-position:
 * @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}





/**
 * Targeting IE ( https://gist.github.com/tcrammond/99fd936007685dba97b7 )
 */
@mixin ie {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}
/*
Usage:
@include ie {
  color: cyan;
}
*/





/**
 * Source: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
 * Conversion of units: https://gist.github.com/awestmoreland/5554996
 */
@mixin vh( $property, $value, $important: null ){

	@if( $important == !important ){
		#{$property}: calc( #{$value} * 1vh ) !important; /* Fallback for browsers that do not support Custom Properties */
		#{$property}: calc(var(--vh, 1vh) * #{$value} ) !important;
	} @else {
		#{$property}: calc( #{$value} * 1vh ); /* Fallback for browsers that do not support Custom Properties */
		#{$property}: calc(var(--vh, 1vh) * #{$value} );
	}
}


