/**
 * Responsive Mixins
 */





// http://codepen.io/eduardoboucas/pen/YXxmwv
// 1vw = 1% of viewport
// @if( vw == 1000 ){
//   3vw = ( 1000 / 100 * 3 ) = 30px
//   5vw = ( 1000 / 100 * 5 ) = 50px
// }
// @if( vw == 2000 ){
//   3vw = ( 20 * 3 ) = 60px
//   5vw = ( 20 * 5 ) = 100px
// }
@mixin responsive($responsive, $min, $max: false, $fallback: false, $attribute: 'font-size') {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vh', 'height', 'width');
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		#{$attribute}: $min;
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;

		@media (min-#{$dimension}: #{$max-breakpoint}) {
			#{$attribute}: $max;
		}
	}

	@if $fallback {
		#{$attribute}: $fallback;
	}
	#{$attribute}: $responsive;
}







/**
 * Mixin for detecting touch-devices
 * Article: https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices
 *
 * Usage:
 *
 *  @include can-hover {
 *    color: blue;
 *  }
 *
 */


// Anything with a mouse
@mixin can-hover {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

// Smartphones and touchscreens
@mixin cannot-hover {
	@media (hover: none) and (pointer: coarse) {
		@content
	}
}

// If there is a mouse, and the element is hovered
@mixin on-hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}

