/**
 * Spacing mixins
 */




/**
 * Section Padding
 */
@mixin section-padding( $property, $size: 'normal' ) {

	@if( $size == 'huge' ){
		#{$property}: calc( 2 * #{$section_padding_mobile} );
	} @else if( $size == 'large') {
		#{$property}: calc( 1.4 * #{$section_padding_mobile} );
	} @else {
		#{$property}: #{$section_padding_mobile};
	}

	@media screen and (min-width: bp(smtab) ) {

		@if( $size == 'huge' ){
			#{$property}: calc( 2 * #{$section_padding_tablet} );
		} @else if( $size == 'large' ) {
			#{$property}: calc( 1.4 * #{$section_padding_tablet} );
		} @else {
			#{$property}: #{$section_padding_tablet};
		}
	}

	@media screen and (min-width: bp(smdesk) ) {

		@if( $size == 'huge' ){
			#{$property}: calc( 2 * #{$section_padding_desktop} );
		} @else if( $size == 'large' ) {
			#{$property}: calc( 1.4 * #{$section_padding_desktop} );
		} @else {
			#{$property}: #{$section_padding_desktop};
		}
	}
}






/**
 * Page Offset
 */
@mixin page-offset( $property, $add_gutter: false ) {
	@if( $add_gutter ){
		#{$property}: calc( #{$tiny_mobile_page_offset} + calc( #{$gutter_space} * 0.5 ) );
	} @else {
		#{$property}: #{$tiny_mobile_page_offset};
	}

	@media screen and (min-width: bp(smph) ){
		@if( $add_gutter ){
			#{$property}: calc( #{$mobile_page_offset} + calc( #{$gutter_space} * 0.5 ) );
		} @else {
			#{$property}: #{$mobile_page_offset};
		}
	}

	@media screen and (min-width: bp(smtab) ) {
		@if( $add_gutter ){
			#{$property}: calc( #{$tablet_page_offset} + calc( #{$gutter_space} * 0.5 ) );
		} @else {
			#{$property}: #{$tablet_page_offset};
		}
	}

	@media screen and (min-width: bp(smdesk) ) {
		@if( $add_gutter ){
			#{$property}: calc( #{$desktop_page_offset} + calc( #{$gutter_space} * 0.5 ) );
		} @else {
			#{$property}: #{$desktop_page_offset};
		}
	}
}






/**
 * Adjust for the admin bar, if logged in
 */
@mixin admin-bar-adjuster( $property, $value, $add_or_subtract: add ){

	@if $add_or_subtract == add {
		#{$property}: $value;

		body.admin-bar & {
			#{$property}: calc( #{$value} + 32px );

			@media screen and (max-width: 783px) { // WP-Breakpoint
				#{$property}: calc( #{$value} + 46px );
			}
		}
	} @else {
		#{$property}: $value;

		body.admin-bar & {
			#{$property}: calc( #{$value} - 32px );

			@media screen and (max-width: 783px) { // WP-Breakpoint
				#{$property}: calc( #{$value} - 46px );
			}
		}
	}
}

/**
 * Adjust for the admin bar, if logged in
 */
@mixin header-adjuster( $property, $value, $add_or_subtract: add, $account_for_admin_bar: false ){

	@if $account_for_admin_bar {
		// Accounting for the admin bar

		@if $add_or_subtract == add {
			#{$property}: calc( #{$value} + #{$header_height} );

			body.admin-bar & {
				#{$property}: calc( #{$value} + #{$header_height} + 32px );

				@media screen and (max-width: 783px) { // WP-Breakpoint
					#{$property}: calc( #{$value} + #{$header_height} + 46px );
				}
			}

		} @else {
			#{$property}: calc( #{$value} - #{$header_height} );

			body.admin-bar & {
				#{$property}: calc( #{$value} - #{$header_height} - 32px );

				@media screen and (max-width: 783px) { // WP-Breakpoint
					#{$property}: calc( #{$value} - #{$header_height} - 46px );
				}
			}
		}

	} @else {
		// Disregarding the admin bar

		@if $add_or_subtract == add {
			#{$property}: calc( #{$value} + #{$header_height} );
		} @else {
			#{$property}: calc( #{$value} - #{$header_height} );
		}
	}
}

