/**
 * Typography
 */

// Fonts
@mixin quote-font {
	font-family: "GT Super Display", serif;
}



@mixin header-font {
	font-family: "franklingothic", sans-serif;
	font-weight: 400;

}

@mixin paragraph-font {
	font-family: "franklingothic", sans-serif;
	font-weight: 400;
}

// H1-mixin
@mixin h1() {
	@include header-font();
	line-height: 105%;
	font-weight: 400;
	font-size: 2.25rem;
	margin-bottom: $double_space;
	hyphens: auto;

	@media screen and (min-width: bp(smtab) ){
		font-size: 2.875rem;
		margin-bottom: $triple_space;
	}

	@media screen and (min-width: bp(lgtab) ){
		font-size: 3.75rem;
	}

	@media screen and (min-width: bp(smdesk) ){
		font-size: 4.125rem;
		hyphens: manual;
	}
}

// H2-mixin
@mixin h2() {
	@include header-font();
	font-size: 2rem;
	line-height: 122%;
	font-weight: 400;

	@media screen and (min-width: bp(lgtab) ){
		font-size: 2.625rem;
	}

	@media screen and (min-width: bp(smdesk) ){
		font-size: 3.225rem;
	}

}

// H3-mixin
@mixin h3() {
	@include header-font();
	font-size: 1.3125rem;
	line-height: 128%;

	@media screen and (min-width: bp(lgtab) ){
		font-size: 1.5rem;
	}

	@media screen and (min-width: bp(smdesk) ){
		font-size: 1.75rem;
	}
}

// H4-mixin
@mixin h4() {
	@include header-font();
}



@mixin quote(){
	@include quote-font();
	line-height: 120%;
	font-size: 1.875rem;

	@media screen and (min-width: bp(lgtab) ){
		font-size: 2.375rem;
	}

	@media screen and (min-width: bp(smdesk) ){
		font-size: 2.85rem;
	}

	@media screen and (min-width: bp(lgdesk) ){
		font-size: 3.75rem;
	}
}




@mixin note(){
	@include quote-font();
}




@mixin link(){
	@include paragraph-font();
	text-transform: uppercase;
	letter-spacing: 0.03125rem;
	color: $blue;
}




// Tag-mixin
@mixin tag() {
	@include header-font();
	font-size: 1rem;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1.2;
	text-transform: uppercase;
}





// Large text-mixin
@mixin large() {
	@include paragraph-font();
	font-size: 1.3125rem;
	line-height: 128%;

	@media screen and (min-width: bp(lgtab) ){
		font-size: 1.5rem;
	}

	@media screen and (min-width: bp(smdesk) ){
		font-size: 1.75rem;
	}
}





// Large text-mixin
@mixin huge() {
	@include paragraph-font();
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 140%;
	text-transform: uppercase;

	@media screen and (min-width: bp(lgtab)) {
		font-size: 1.75rem;
	}

	@media screen and (min-width: bp(smdesk)) {
		font-size: 2.125rem;
	}
}





// Normal text-mixin
@mixin normal() {
	@include paragraph-font();
	font-size: $paragraph_font_size;
	line-height: 142%;

	@media screen and (min-width: bp(smdesk) ){
		font-size: $smdesk_paragraph_font_size;
	}
}




// Small text-mixin
@mixin small() {
	@include paragraph-font();
	font-size: 0.778rem;
	line-height: 1;
	margin-bottom: 0;
	padding-bottom: 0;
}




/**
 * Text color
 */
@mixin text-color($color) {
	color: $color;

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $color;

		span {
			color: $color;
		}
	}

	p,
	li {
		color: $color;

		span {
			color: $color;
		}
	}

	a {
		color: $color;
		text-decoration: none;

		span {
			color: $color;
		}

		&:hover {
			text-decoration: none;
		}
	}
}





/**
 * Global editor content styles
 *
 * Adds more spacing on headings and such
 */
@mixin editor-content-typography() {
	h1,
	.h1 {
		margin-top: $one_and_a_half_space;
		margin-bottom: $half_space;

		@media screen and (min-width: bp(smtab)) {
			margin-top: $double_space;
		}
	}

	h2,
	.h2 {
		margin-top: $one_and_a_half_space;
		margin-bottom: $half_space;

		@media screen and (min-width: bp(smtab)) {
			margin-top: $double_space;
		}
	}

	h3,
	.h3 {
		margin-top: 2rem;
		margin-bottom: $half_space;

		@media screen and (min-width: bp(smtab)) {
			margin-top: 1.5rem;
		}
	}

	h4,
	.h4 {
		margin-top: $space;
		margin-bottom: $half_space;
	}

	h5,
	.h5 {
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}




@mixin ul-with-lines( $color: 'dark' ){
	margin: 0;
	padding: 0.75rem 0;

	li {
		list-style-type: none;
		margin: 0;
		padding: 0px 0px 1rem 2.875rem;
		vertical-align: middle;
		background-position: 1rem 0.7rem !important;
		background-color: transparent !important;
		background-repeat: no-repeat !important;

		@if( $color == 'black' ){
			background: url("#{$theme_root}/assets/img/bullet-point-line__black.svg");
			@include text-color( $dark );
		}

		@if( $color == 'dark' ){
			background: url("#{$theme_root}/assets/img/bullet-point-line__dark.svg");
			@include text-color( $dark );
		}

		@if( $color == 'light' ){
			background: url("#{$theme_root}/assets/img/bullet-point-line__light.svg");
			@include text-color( $light );
		}

		@if( $color == 'white' ){
			background: url("#{$theme_root}/assets/img/bullet-point-line__white.svg");
			@include text-color( $white );
		}

		//&:last-child {
		//	padding-bottom: 1rem !important;
		//}
	}
}
