/**
 * Base
 */

html {
	background: $bg;
	scroll-behavior: smooth;
}
// * {
// 	border: 1px solid red;
// }
body {
	@include paragraph-font();
	color: $default_font_color;
	font-size: $paragraph_font_size;
	line-height: $line_height;
	background-color: $bg;
	transition: padding-bottom 0.2s; // For the cookie banner
	padding-top: $quintuple_space;
	color: $default_font_color;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	&:hover {
		opacity: 1;
	}
}

header#app__header {
	// mix-blend-mode: difference;
}

main#app__main {
}

footer#app__footer {
}

.container-fluid {
	@include page-offset( padding-left );
	@include page-offset( padding-right );

}
.container-fluid__fullscreen {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.container {
	max-width: 106.25rem;
}
.container-no-padding-top {
	padding-top: 0px !important;
}
.container-no-padding-bottom {
	padding-bottom: 0px !important;
}

iframe {
	position: relative;
	z-index: 1050;
}

// Buttons
.zbtn__white {
	@include white-button();
}

.zbtn__light {
	@include light-button();
}

.zbtn__dark {
	@include dark-button();
}

.zbtn__primary {
	@include primary-button();
}

.zbtn__secondary {
	@include secondary-button();
}

.centered-button {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

// Other base things
img {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
	display: block;
}

hr {
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
}

.hidden-sm {
	display: inline;
}
@media screen and (max-width: bp(smtab)) {
	.hidden-sm {
		display: none;
	}
}
