/**
 * Forms base
 */

.zfg {

}


// SKIN1
.zfg__email,
.zfg__text,
.zfg__textarea,
.zfg__number,
.zfg__datepicker {
	@include form-group__regular();
}

.zfg__checkbox,
.zfg__radio {
	@include form-group__checkbox();
}

.zfg__submit {

	input[type='submit'],
	button {
		@include primary-button();
	}
}





/**
 * Other Form Stuuuff
 */
.zform__container {
	position: relative;
	z-index: 1005;
}


.zform__reset-or-resume-editting-button {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	button {
		margin-right: $half_space;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}





/**
 * Form Message / Response
 */
.zform__message {

	.loading-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		img {
			width: 4rem;
			height: 4rem;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}



	// Global styles
	&.untouched {

	}

	&.success {
		background: $success;
		color: $white;

		// Reset / Resume buttons
		.zform__reset-form {
			@include dark-button();
			order: 1;
			margin-right: $half_space;
		}

		.zform__resume-editting {
			background: none;
			border: none;
			text-align: left;
			@include small();
			order: 2;
			color: $white !important;
			text-decoration: none !important;

			&:hover {
				color: $white !important;
				text-decoration: underline !important;
			}
		}
		// End of Reset / Resume buttons
	}

	&.failed {
		background: $danger;
		color: $white;

		// Reset / Resume buttons
		.zform__reset-form {
			background: none;
			border: none;
			text-align: left;
			@include small();
		}

		.zform__resume-editting {
			@include dark-button();
		}
		// End of Reset / Resume buttons
	}

	&.processing {
		background: $light;
		color: $dark;
	}

	.zform__message-inner {

		h2,
		h3 {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}




	// Default style (beneath)
	&.default-style {
		padding: $double_space;
		max-width: $form_group_max_width;
		min-height: 7rem;
		margin-bottom: $space;
		position: relative;
	}


	// Overlayed style (on top)
	&.overlayed-style {
		background: rgba( $white, 0.85 );
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: $space;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1050;

		.zform__message-inner {
			margin-bottom: $space;

			h2,
			h3 {
			}

			p {
			}
		}

		.zform__reset-or-resume-editting-button {
			display: flex;
			flex-direction: row;
			align-items: center;
			@include text-color( $white );
		}

		&.untouched {

		}

		&.success {
			background: rgba( $success, 0.85);
			color: $white;
		}

		&.failed {
			background: rgba( $danger, 0.85 );
			color: $white;
		}

		&.processing {
			background: rgba( $light, 0.85 );
			color: $dark;
		}

	}
}






.zfg {

	.field__container {
		position: relative;
		transition: opacity 0.5s;

		.zfg__overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 8750;
			cursor: not-allowed;
		}
	}

	.input-container__inner {

		label {
			position: relative;
			padding-right: 50px;
			width: 100%;
			display: flex;
			flex-direction: column;

			.info-icon {
				position: absolute;
				top: 0;
				right: 0;

				background: none;
				border: none;
				display: flex;
				height: 100%;
				justify-content: center;
				align-items: center;

				img {
					height: 80%;
					width: 100%;
				}
			}
		}

		.hint__container {
			transition: all 0.5s;
			display: block;
			width: 100%;
			overflow: hidden;
			opacity: 0.5;
		}

		.errors {
			display: flex;
			flex-direction: column;

			p {
				margin-bottom: 0;
				@include small();
				color: $danger;
			}

		}
	}

	&.processing {

		.field__container {
			opacity: 0.3;
		}
	}

	&.success {

		.field__container {

			input,
			textarea {
				border-color: $success !important;
				font-weight: bold !important;
				font-style: italic !important;
			}
		}
	}

	&.zfg__regular-wrapper {

		.errors {
			margin-top: -5px;
			margin-bottom: 10px;
		}
	}

	&.zfg__checkbox-wrapper {

		.errors {
			margin-bottom: 10px;
			padding-left: calc( #{$checkbox_width} + #{$half_space} );
		}
	}
}

