/**
 * Global styles
 */

.global__aspect-ratio-56-percent,
.global__aspect-ratio-66-percent,
.global__aspect-ratio-75-percent,
.global__aspect-ratio-100-percent {
	width: 100%;
	height: 0;
	position: relative;
	background-size: cover !important;
	// overflow: hidden;
}

.global__aspect-ratio-56-percent {
	padding-top: 56%;
}

.global__aspect-ratio-66-percent {
	padding-top: 66%;
}

.global__aspect-ratio-75-percent {
	padding-top: 75%;
}

.global__aspect-ratio-100-percent {
	padding-top: 100%;
}


.global__aspect-ratio-inner,
.global__aspect-ratio-inner-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	> span,
	> a {
		display: block;
		height: 100%;
		width: 100%;

		> img {
			@include object-fit( cover, center );
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	> img {
		@include object-fit( cover, center );
		display: block;
		height: 100%;
		width: 100%;
	}
}





.global__iframe-container {
	position: relative;
	display: block;
	height: 0;
	padding-top: 56.25%;
	margin-bottom: $space;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}




// Is the block where all editor-blocks are pasted inside
.global__editor-content {
	@include editor-content-typography();

	@media screen and (max-width: bp_max(smtab) ){
		hyphens: auto;
	}

	> img {
		margin-bottom: $half_space;

		& + p,
		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0;
		}
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}



.global__jv-arrow {
	position: relative;
	display: flex;
	flex-direction: row;
	// background-size: 1.875rem 1.875rem !important;
	width: $desktop_arrow_width_and_height;
	height: $desktop_arrow_width_and_height;
	background-size: 60% 60% !important;

	@media screen and (min-width: bp(smtab) ){
		background-size: 48% 48% !important;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain !important;
		transition: all 0.5s;
	}

	&.black {
		background: url( '#{$theme_root}/assets/img/icon__arrow-right__black.svg' ) no-repeat center center;

		&:before {
			background: url( '#{$theme_root}/assets/img/icon__quarter-circles__black.svg' ) no-repeat center center;
		}

		&:after {
			background: url( '#{$theme_root}/assets/img/icon__quarter-circles__black.svg' ) no-repeat center center;
			transform: rotate( 90deg );
		}

		&:hover {

			&:after {
				transform: rotate( 0deg );
			}
		}
	}

	&.red {
		background: url( '#{$theme_root}/assets/img/icon__arrow-right__red.svg' ) no-repeat center center;

		&:before {
			background: url( '#{$theme_root}/assets/img/icon__quarter-circles__red.svg' ) no-repeat center center;
		}

		&:after {
			background: url( '#{$theme_root}/assets/img/icon__quarter-circles__red.svg' ) no-repeat center center;
			transform: rotate( 90deg );
		}

		&:hover {

			&:after {
				transform: rotate( 0deg );
			}
		}
	}

	&.white {
		background: url( '#{$theme_root}/assets/img/icon__arrow-right__white.svg' ) no-repeat center center;

		&:before {
			background: url( '#{$theme_root}/assets/img/icon__quarter-circles__white.svg' ) no-repeat center center;
		}

		&:after {
			background: url( '#{$theme_root}/assets/img/icon__quarter-circles__white.svg' ) no-repeat center center;
			transform: rotate( 90deg );
		}

		&:hover {

			&:after {
				transform: rotate( 0deg );
			}
		}
	}
}




.global__see-all {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.inner {
		border-bottom: $border_width solid transparent;
		padding-bottom: $space;

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			color: $black;
			transition: all 0.5s;

			> span:first-child {
				width: 75%;
				@include huge();
				text-transform: uppercase;

				@media screen and (min-width: bp(smtab) ){
					text-align: right;
				}
			}

			> .services__see-all-arrow-container {
				width: 25%;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
			}

			&:hover {
				// color: $blue_light;

				.global__jv-arrow {

					&:after {
						transform: rotate( 0deg ) !important;
					}
				}
			}
		}
	}
}




.global__book-meeting {
	display: block;
	margin-bottom: 0;

	.inner {
		border-bottom: $border_width solid $dark;
		padding-bottom: $space;
		position: relative;
		z-index: 1025;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		height: 100%;
		@include text-color( $red );

		&:hover {
			color: darken( $red, 20% );
		}
	}

	.link {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@include link();
		color: $red !important;
		text-decoration: none !important;

		> span:first-child {
			@include huge();
			color: $red;
			width: 75%;
			line-height: 120%;
		}

		> span:last-child {
			width: 25%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: flex-end;
			line-height: 120%;
		}
	}

	&:hover {

		.global__jv-arrow:after {
			transform: rotate( 0deg );
		}

		.link {
			text-decoration: underline;
		}
	}
}
