/**
 * Grid additions (to add to Bootstrap)
 */

.editors-two-columns__container {





	/**
	 * Narrow
	 */

	// Narrow, 33% / 66%
	.editors-two-columns__left-col__narrow__one-third {

		@media screen and (min-width: 475px){
			max-width: 33.33333%;
			flex: 0 0 33.33333%;
		}

		@media screen and (min-width: 768px){
			margin-left: 8.33333%;
			max-width: 27.777778%;
			flex: 0 0 27.777778%;
		}
	}

	.editors-two-columns__right-col__narrow__two-thirds {

		@media screen and (min-width: 475px){
			max-width: 66.66666%;
			flex: 0 0 66.66666%;
		}

		@media screen and (min-width: 768px){
			max-width: 55.555556%;
			flex: 0 0 55.555556%;
		}
	}


	// Narrow, 66% / 33%
	.editors-two-columns__left-col__narrow__two-thirds {

		@media screen and (min-width: 475px){
			max-width: 66.66666%;
			flex: 0 0 66.66666%;
		}

		@media screen and (min-width: 768px){
			margin-left: 8.33333%;
			max-width: 55.555556%;
			flex: 0 0 55.555556%;
		}
	}

	.editors-two-columns__right-col__narrow__one-third {

		@media screen and (min-width: 475px){
			max-width: 33.33333%;
			flex: 0 0 33.33333%;
		}

		@media screen and (min-width: 768px){
			max-width: 27.777778%;
			flex: 0 0 27.777778%;
		}
	}





	/**
	 * Really Narrow
	 */

	// Really narrow, 33% / 66%
	.editors-two-columns__left-col__really-narrow__one-third {

		@media screen and (min-width: 475px){
			max-width: 33.33333%;
			flex: 0 0 33.33333%;
		}

		@media screen and (min-width: 650px){
			margin-left: 8.33333%;
			max-width: 27.777778%;
			flex: 0 0 27.777778%;
		}

		@media screen and (min-width: 1024px){
			margin-left: 16.6666%;
			max-width: 22.22222%;
			flex: 0 0 22.22222%;
		}
	}

	.editors-two-columns__right-col__really-narrow__two-thirds {

		@media screen and (min-width: 475px){
			max-width: 66.66666%;
			flex: 0 0 66.66666%;
		}

		@media screen and (min-width: 650px){
			max-width: 55.555556%;
			flex: 0 0 55.555556%;
		}

		@media screen and (min-width: 1024px){
			max-width: 44.44444%;
			flex: 0 0 44.44444%;
		}
	}


	// Really narrow, 66% / 33%
	.editors-two-columns__left-col__really-narrow__two-thirds {

		@media screen and (min-width: 475px){
			max-width: 66.66666%;
			flex: 0 0 66.66666%;
		}

		@media screen and (min-width: 650px){
			margin-left: 8.33333%;
			max-width: 55.555556%;
			flex: 0 0 55.555556%;
		}

		@media screen and (min-width: 1024px){
			margin-left: 16.6666%;
			max-width: 44.44444%;
			flex: 0 0 44.44444%;
		}
	}

	.editors-two-columns__right-col__really-narrow__one-third {

		@media screen and (min-width: 475px){
			max-width: 33.33333%;
			flex: 0 0 33.33333%;
		}

		@media screen and (min-width: 650px){
			max-width: 27.777778%;
			flex: 0 0 27.777778%;
		}

		@media screen and (min-width: 1024px){
			max-width: 22.22222%;
			flex: 0 0 22.22222%;
		}
	}
}
