/**
 * Typography
 */

h1,
.h1 {
	@include h1();
}

h2,
.h2 {
	@include h2();
}

h3,
.h3 {
	@include h3();
}

h4,
.h4 {
	@include h4();
}

h5,
.h5 {
	@include header-font();
}

li,
span,
p {
	@include normal();

	@media screen and (max-width: bp_max(xxsph)) {
		hyphens: auto;
	}

	a {
		&.a__button {
			@include button();
		}
	}
}

.ztag {
	@include tag();

	& ~ h1,
	& ~ .h1,
	& ~ h2,
	& ~ .h2,
	& ~ h3,
	& ~ .h3,
	& ~ h4,
	& ~ .h4,
	& ~ h5,
	& ~ .h5 {
		padding-top: 0 !important;
	}

	& ~ h1,
	& ~ .h1 {
		margin-top: -0.4375rem;
	}

	& ~ h2,
	& ~ .h2 {
		margin-top: -0.4375rem;
	}

	& ~ h3,
	& ~ .h3 {
		margin-top: -0.4375rem;
	}

	& ~ h4,
	& ~ .h4 {
		margin-top: -0.4375rem;
	}

	& ~ h5,
	& ~ .h5 {
		margin-top: -0.4375rem;
	}
}

.zsmall {
	@include small();
}

.zlarge {
	@include large();
}

.zhuge {
	@include huge();
}

.zquote {
	@include quote();
}

.znote {
	@include note();
}

.zblue {
	@include text-color($blue);
}
a {
	text-decoration: underline;
	opacity: 1;
	transition: all 0.2s;
	color: $blue;

	&:hover {
		text-decoration: none;
		opacity: 0.7;
	}
}

ul {
	li {
		margin-bottom: $half_space;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

