/*
 * WordPress styles
 */

.edit-link {
	display: none !important;
}

.wp-caption {
	max-width: 100%;
	height: auto;

	p.wp-caption-text {
		margin-bottom: $space;
		font-style: italic;
	}
}

.alignleft {
	float: left;
	margin-right: $space;
	margin-bottom: ($space / 2);
}

.aligncenter {
	display: block;
	margin: 0 auto $space;
}

.alignright {
	float: right;
	margin-left: $space;
	margin-bottom: ($space / 2);
}

#wpadminbar {
	position: fixed;
	z-index: 99998 !important;

	@media screen and (max-width: bp_max(lgph) ){
		position: fixed !important;
	}
}

// Hide crappy menu-points (that makes design break) on mobile devices
#wp-admin-bar-comments,
#wp-admin-bar-imagify,
#wp-admin-bar-new_draft,
#wp-admin-bar-customize,
#wp-admin-bar-imagify,
#wp-admin-bar-wpseo-menu {
	@media screen and (max-width: bp_max(mddesk) ){
		display: none !important;
	}
}

/* I kinda like this one
#wp-admin-bar-new-content {
	@media screen and (max-width: bp_max(lgph) ){
		display: none !important;
	}
}
*/


.pagination__regular{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@include vh( min-height, 50 );

	// Regular pagination
	.nav-next,
	.nav-previous {
		width: 50%;
		flex: 1;

		a {
			@include primary-button();
		}
	}

	.nav-next {

		> * {
			float: right;
		}
	}
}

.pagination__search {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@include vh( min-height, 50 );

	// Search pagination
	.search__next-search-results-page,
	.search__previous-search-results-page {
		width: 50%;
		flex: 1;

		a {
			@include primary-button();
		}
	}

	.search__next-search-results-page {
		order: 2;

		> * {
			float: right;
		}
	}
	.search__previous-search-results-page {
		order: 1;
	}
}
