/**
 * 404
 */

body.error404 {

	.error404__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;

		min-height: 85vh;
		height: 31.25rem;

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
