/**
 * Under Maintenance
 */

body.page-template-page-maintenance {

	#app__header,
	#app__footer {
		display: none !important;
	}

	#app__main {
		min-height: 50vh !important;
	}

	.maintenance__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
