/**
 * Dropdowns (checkbox, radio, etc)
 */

$dropdown_width: 18.75rem;
$dropdown_height: 31.25rem;
$dropdown_background: $white;
$dropdown_box-shadow: 1px 1px 1px rgba( $black, 0.25 );
$dropdown_top-offset: 4rem;
$dropdown_text-color: $black;
$dropdown_backdrop-color: rgba( $black, 0.2 );

.zdropdown {

	&.open {

		.zdropdown-checkboxes__inner {
			z-index: 8250;
		}

		.zdropdown__the-dropdown {
			top: $dropdown_top-offset !important;
			left: 0 !important;
			z-index: 8050 !important;
			max-height: $dropdown_height !important;
		}
	}

	&.active {

		.zdropdown__button {
			background: $black !important;
			color: $white !important;
		}
	}

	.zdropdown-checkboxes__inner {
		position: relative;

		.zdropdown__button {
			@include white-button();
			position: relative
		}

		.zdropdown__the-dropdown {
			position: absolute;
			width: $dropdown_width;
			height: $dropdown_height;
			max-height: 0;
			box-shadow: $dropdown_box-shadow;
			display: block;
			background: $dropdown_background;
			top: -2000px;
			left: -9999px;
			transition: max-height 0.5s;

			.zdropdown__inner-dropdown {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				padding: $half_space;

				.zdropdown__checkbox {
					display: flex;
					flex-direction: row;

					input {
						margin-right: $half_space;
						margin-top: 4px;
					}

					label {
						color: $dropdown_text-color;
					}
				}

			}

		}

		.zdropdown__selected {

			.zdropdown__selected-top {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				> p {
					font-weight: bold;
				}

				button {
					@include text-button-white-text()
				}

			}

			.zdropdown__selected-inner {
				// padding-left: $half_space;

				.zdropdown__single-selected-value {
					display: flex;
					flex-direction: row;
					align-items: center;

					button {
						background: transparent;
						padding: 0;
						margin: 0 5px 0 0;
						width: 1rem;
						height: 1rem;
						border: none;

						img {
							width: 100%;
							height: auto;
							display: block;
						}
					}

					p {
						margin-top: 2px;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.zdropdown__background-button {
		position: fixed;
		z-index: 8010;
		@include admin-bar-adjuster( top, 0px );
		@include admin-bar-adjuster( height, 100vh, subtract );
		left: 0;
		width: 100%;
		background: $dropdown_backdrop-color;
	}
}
