<template>
	<div
		:class="[ 'container-fluid', 'acf-block__container', 'publication-block__container', cssClasses ]"
		:id="id"
	>
		<div class="container" v-bind:id="innerId">

			<div class="row">
				<div class="col-12">
					<h2>Safe City Action map</h2>
					<div class="am__outer">

						<div
							class="am__cities"
							v-if="gridRendered"
						>
							<publication-action-map-city
								v-for="(city, cityIndex) in block.action_map_cities"
								:city="city"
								:key="cityIndex + 0"
								:id="'am__city__' + cityIndex"
								:show-links="block.show_links"
								:is-city-open="isCityOpen( 'am__city__' + cityIndex )"
								:ref="'am__city__' + cityIndex"
							>

							</publication-action-map-city>
						</div>
						<!-- /.am__cities -->

						<div class="am__grid am__grid__desktop" v-if="viewportWidth >= 768">
							<div
								class="am__row"
								v-for="(r, ri) in desktopRows"
							>
								<div
									class="am__cell"
									v-for="(c, ci) in desktopColumns"
								>
									<div class="am__cell-inner">
									</div>
									<!-- /.am__cell-inner -->
								</div>
								<!-- /.am__col -->
							</div>
							<!-- /.am__row -->
						</div>
						<!-- /.am__grid -->

						<div class="am__grid-background" v-if="viewportWidth >= 768">
							<video
								muted="muted"
								autoplay
								loop
								v-if="block.video_url"
							>
								<source :src="block.video_url.url" type="video/mp4" />
							</video>
						</div>
						<!-- /.am__grid-background -->

						<div class="am__grid am__grid__mobile" v-if="viewportWidth < 768">
							<div
								class="am__row"
								v-for="(r, ri) in mobileRows"
							>
								<div
									class="am__cell"
									v-for="(c, ci) in mobileColumns"
								>
									<div class="am__cell-inner">
									</div>
									<!-- /.am__cell-inner -->
								</div>
								<!-- /.am__col -->
							</div>
							<!-- /.am__row -->
						</div>
						<!-- /.am__grid -->

					</div>
					<!-- /.am__outer -->
				</div>
				<!-- /.col-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.container-fluid -->
</template>

<script>

	import PublicationActionMapCity from "@components/partials/PublicationActionMapCity";
	import VideoUploadedCustom from "@components/partials/VideoUploadedCustom";
	import { acfBlockSettingsMixins } from "@mixins/acfBlockSettingsMixins";
	import { publication2020Mixins } from "@mixins/publication2020Mixins";
	import { baseMixins } from "@mixins/baseMixins";

	export default {
		components: {
			PublicationActionMapCity,
			VideoUploadedCustom
		},
		mixins: [
			acfBlockSettingsMixins,
			publication2020Mixins,
			baseMixins
		],
		props: {
			block: Object,
		},
		data: function () {
			return {
				desktopColumns: 11,
				desktopRows: 11,
				mobileColumns: 7,
				mobileRows: 21,
				cellWidth: null,
				gridRendered: false,
				openCityId: null,
				hasBeenInteractedWith: false,
			}
		},

		mounted() {

			setTimeout( () => {
				this.parsePublicationSettings();
			});

			setTimeout( () => {
				this.setGrid();
			});

			setTimeout( () => {
				this.autoOpenCities()
			}, 500 );
		},

		computed: {
		},
		methods: {
			async setGrid(){
				await this.calcCellWidth();
				this.gridRendered = true;
				let elements = await this.getElementsThatNeedsAHeight();
				await this.setHeightsOnElements( elements );
			},
			calcCellWidth(){
				return new Promise( (resolve, reject) => {
					let rows = document.querySelectorAll( '#' + this.id + ' .am__grid .am__row' );
					let rowCounter = 0;
					Object.entries( rows ).forEach( entry => {
						let key = entry[0];
						let row = entry[1];

						// CELL STYLES
						let cells = row.querySelectorAll( ' .am__cell' );
						let columnCounter = 0;
						Object.entries( cells ).forEach( entry => {
							let key = entry[0];
							let cell = entry[1];

							if( ! this.cellWidth ){
								this.cellWidth =  cell.getBoundingClientRect().width;
								// this.cellWidth = cell.offsetWidth; // Rounds off
							}

							cell.style.height = this.cellWidth + 'px';
							cell.style.left = ( this.cellWidth * columnCounter ) + 'px';
							columnCounter++;
						});

						// ROW STYLES
						row.style.height = this.cellWidth + 'px';
						row.style.top = ( this.cellWidth * rowCounter ) + 'px';
						rowCounter++;
					});
					setTimeout( () => {
						resolve( true );
					}, 1000 );
				})
			},
			getElementsThatNeedsAHeight(){
				return new Promise( (resolve, reject) => {

					let fallbackFlagRaised = false;
					setTimeout( () => {
						fallbackFlagRaised = true;
					}, 3000 );

					let elementsWhereHeightShouldBeSet;
					let interval = setInterval( () => {
						elementsWhereHeightShouldBeSet = [];

						let grid = document.querySelector( '#' + this.id + ' .am__grid' );
						if( grid ){
							elementsWhereHeightShouldBeSet.push( grid );
						}

						let cities = document.querySelector( '#' + this.id + ' .am__cities' );
						if( cities ){
							elementsWhereHeightShouldBeSet.push( cities );
						}

						let outerContainer = document.querySelector( '#' + this.id + ' .am__outer' );
						if( outerContainer ){
							elementsWhereHeightShouldBeSet.push( outerContainer );
						}

						// Stop Interval
						if( ( elementsWhereHeightShouldBeSet && elementsWhereHeightShouldBeSet.length === 3 ) || fallbackFlagRaised ){
							clearInterval( interval );
							resolve( elementsWhereHeightShouldBeSet );
						}

					}, 100 );

				});
			},
			setHeightsOnElements( elements ){

				for( let i = 0; i < elements.length; i++ ){

					if( this.viewportWidth >= 768 ){
						elements[i].style.height = ( this.cellWidth * this.desktopRows ) + 'px';
					} else {
						elements[i].style.height = ( this.cellWidth * this.mobileRows ) + 'px';
					}
				}
			},
			openCity( cityId, interactedOpen = true ){

				if( interactedOpen ){
					this.hasBeenInteractedWith = true;
				}

				if( this.openCityId === cityId ){
					this.openCityId = null;
				} else {
					this.openCityId = cityId;
				}
			},
			isCityOpen( cityId ){
				return cityId === this.openCityId;
			},
			actionMapResized(){
				if( this.viewportWidthChanged ){
					this.cellWidth = null;
					this.setGrid();
				}
			},
			autoOpenCities(){

				let cityToAutoOpen;
				setTimeout( () => { cityToAutoOpen = 'am__city__9'; }, 1000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__4'; }, 5000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__16'; }, 9000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__6'; }, 13000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__10'; }, 17000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__1'; }, 21000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__18'; }, 25000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__14'; }, 29000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__2'; }, 33000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__19'; }, 37000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__11'; }, 41000  );
				setTimeout( () => { cityToAutoOpen = 'am__city__5'; }, 45000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__17'; }, 49000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__3'; }, 53000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__13'; }, 57000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__7'; }, 61000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__12'; }, 65000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__8'; }, 69000 );
				setTimeout( () => { cityToAutoOpen = 'am__city__15'; }, 73000 );


				let endOfShowReached = false;
				setTimeout( () => {
					endOfShowReached = true;
				}, 77000 );

				let autoOpenInterval = setInterval( () => {

					// Stop
					if( this.hasBeenInteractedWith || endOfShowReached ){
						clearInterval( autoOpenInterval );
					}

					if( this.openCityId !== cityToAutoOpen ){
						if( ! this.hasBeenInteractedWith ){
							this.openCity( cityToAutoOpen, false );
						}
					}

				}, 500 );
			}
		},

		created() {
			window.addEventListener('resize', this.actionMapResized );
		},
		destroyed() {
			window.removeEventListener('resize', this.actionMapResized );
		}
	}
</script>


<style lang="scss">
	@import '~sasspath/abstracts/variables';
	@import '~sasspath/all-mixins';

	$am_background_color: $portage;
	$am_border_color: $black;
	$am_height: 1500px;
	$am_dot_width: 40px;
	$am_dot_color: $black;
	$am_button_padding: 6%;
	$am_max_width: 1200px;
	$am_small_font_size: 0.8rem;
	.action-map__container {
		background: $portage;
		// @include section-padding( padding-top, 'huge' );
		// @include section-padding( padding-bottom, 'huge' );
		padding-top: calc( 5 * #{$space} );
		padding-bottom: calc( 5 * #{$space} );
		position: relative;
		z-index: 1650;

		@media screen and (min-width: bp(smtab) ){
			padding-top: calc( 10 * #{$space} );
			padding-bottom: calc( 10 * #{$space} );
		}

		@media screen and (max-width: bp_max(smtab) ){
			padding-left: 1rem;
			padding-right: 1rem;
		}

		h2 {
			display: block;
			max-width: $am_max_width;
			margin-left: auto;
			margin-right: auto;

			@media screen and (max-width: bp_max(smtab) ){
				font-weight: bold;
				font-size: 2.2rem;
			}
		}

		.am__outer {
			position: relative;
			display: block;
			width: 100%;
			border: 1px solid $am_border_color;
			max-width: $am_max_width;
			margin-left: auto;
			margin-right: auto;

			.am__grid-background {

				video {
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.am__cities {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				z-index: 1050;

				.am__city {
					position: absolute;
					// background: $am_background_color;
					display: table;
					outline: none;
					// border: 2px solid $am_border_color;

					.am__city__inner {
						display: flex;
						flex-direction: row;
						height: 100%;

						.am__city__button {
							outline: none;
							display: flex;
							flex-direction: row;
							align-items: center;
							background: transparent;
							// background: $portage;
							width: 100%;
							border: 1px solid transparent;
							transition: all 0.5s;
							padding: 5px $am_button_padding;

							@media screen and (min-width: bp(lgtab) ){
								padding: $am_button_padding;
							}

							.am__city__title-and-slogan {
								text-align: left;
								color: $white;
								font-size: 1.2rem;
								line-height: 1;
								display: flex;
								flex-direction: column;

								@media screen and (min-width: bp(lgtab) ){
									font-size: 1.5rem;
								}
							}

							.am__city__title {
							}

							.am__city__slogan {
								padding-top: 5px;
								font-size: $am_small_font_size;
								line-height: 1;
							}


							.am__city__inner__icon {
								display: block;
								margin-right: $am_button_padding;
								position: relative;

								width: calc( 0.5 * #{$am_dot_width} );
								min-width: calc( 0.5 * #{$am_dot_width} );
								height: calc( 0.5 * #{$am_dot_width} );
								min-height: calc( 0.5 * #{$am_dot_width} );

								@media screen and (min-width: bp(smtab) ){
									width: calc( 0.75 * #{$am_dot_width} );
									min-width: calc( 0.75 * #{$am_dot_width} );
									height: calc( 0.75 * #{$am_dot_width} );
									min-height: calc( 0.75 * #{$am_dot_width} );
								}

								@media screen and (min-width: bp(smdesk) ){
									width: $am_dot_width;
									min-width: $am_dot_width;
									height: $am_dot_width;
									min-height: $am_dot_width;
								}

								.am__city__inner__dot,
								img {
									position: absolute;
									top: 0;
									left: 0;
								}

								.am__city__inner__dot {
									background: $am_dot_color;
									border-radius: 50%;
									width: 100%;
									height: 100%;
									display: block;
									transition: all 0.5s;
								}

								> img {
									width: 100%;
									height: 100%;
									display: block;
									@include object-fit( contain );
								}
							}


							&:hover { // .am__city__button
								background: $portage;
								border: 1px solid $black;

								.am__city__inner__dot {
									background: $white;
								}
							}

						}

						p {
							margin-bottom: 0;
						}
					} // .am__city-inner

					.am__city__popup {
						position: absolute;
						top: 100%;
						left: 0;
						max-height: 0px;
						transition: max-height 0.5s;
						width: 100%;
						overflow: hidden;

						.am__city__popup__inner {
							padding: 0 $half_space $half_space $half_space;
							hyphens: auto;

							p {

								&:last-child {
									margin-bottom: 0;
								}
							}

							p {
								text-align: left;
								font-size: $am_small_font_size;

								a {
									color: $white !important;
									text-decoration: underline;

									&:hover {
										text-decoration: underline;
									}
								}
							}

							.am__city__popup__read-more {
								padding-top: $half_space;
								display: block;
							}
						}
					}

					&.city-open {
						background: $black;
						@include text-color( $white );
						z-index: 1100;
						min-width: 230px;

						.am__city__button {
							background: $black !important;
							hyphens: manual !important;
						}

						.am__city__popup {

							.am__city__popup__inner {
								background: $black;
								@include text-color( $white );
								display: block;
							}
						}
					}
				} // .am__city
			}

			.am__grid {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				z-index: 1010;
				max-width: 100%;
				overflow: hidden;

				.am__row {
					position: absolute;
					width: 100%;
					display: block;
					left: 0;

					&:after {
						content: '';
						position: absolute;
						top: 1px;
						left: 0;
						width: 100%;
						height: 1px;
						background: $black;
						display: block;
					}

					&:before {
						content: '';
						position: absolute;
						bottom: 1px;
						left: 0;
						width: 100%;
						height: 1px;
						background: $black;
						display: block;
					}

					.am__cell {
						position: absolute;
						top: 0;
						display: block;
						width: 14.28571428%;

						@media screen and (min-width: bp(smtab) ){
							width: 9.09090909%;
						}

						.am__cell-inner {
							display: block;
							width: 100%;
							height: 100%;
							border: 2px solid $am_border_color;
						}
					}


					@media screen and (min-width: bp(smtab) ){

						// Helsinku
						&:nth-child(1){
							.am__cell:nth-child(2) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(3) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(3) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(4) .am__cell-inner { border-left: 1px solid transparent}
						}

						// Reykjavik
						&:nth-child(1){
							.am__cell:nth-child(6) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(7) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(7) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(8) .am__cell-inner { border-left: 1px solid transparent}
						}

						// Gothenburg
						&:nth-child(2){
							.am__cell:nth-child(5) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(6) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(6) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(7) .am__cell-inner { border-left: 1px solid transparent}
						}

						// Larvik
						&:nth-child(2){
							.am__cell:nth-child(9) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(10) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(10) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(11) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Malmo
						&:nth-child(3){
							.am__cell:nth-child(1) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(2) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(2) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(3) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Kristiansand
						&:nth-child(4){
							.am__cell:nth-child(3) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(4) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(4) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(5) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Oslo
						&:nth-child(4){
							.am__cell:nth-child(8) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(9) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(9) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(10) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Fredrikstad
						&:nth-child(5){
							.am__cell:nth-child(4) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(5) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(5) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(6) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Aalborg
						&:nth-child(5){
							.am__cell:nth-child(9) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(10) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(10) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(11) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Copenhagen
						&:nth-child(6){
							.am__cell:nth-child(7) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(8) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(8) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(9) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Bærum
						&:nth-child(7){
							.am__cell:nth-child(1) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(2) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(2) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(3) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Stockholm
						&:nth-child(7){
							.am__cell:nth-child(5) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(6) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(6) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(7) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Vantaa
						&:nth-child(7){
							.am__cell:nth-child(9) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(10) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(10) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(11) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Haugesund
						&:nth-child(8){
							.am__cell:nth-child(2) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(3) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(3) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(4) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Skien
						&:nth-child(9){
							.am__cell:nth-child(3) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(4) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(4) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(5) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Arendal
						&:nth-child(9){
							.am__cell:nth-child(7) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(8) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(8) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(9) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Stavanger
						&:nth-child(10){
							.am__cell:nth-child(1) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(2) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(2) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(3) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Esbjerg
						&:nth-child(10){
							.am__cell:nth-child(9) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(10) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(10) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(11) .am__cell-inner { border-left: 1px solid transparent}
						}


						// Sarpsborg
						&:nth-child(11){
							.am__cell:nth-child(5) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(6) .am__cell-inner { border-left: 1px solid transparent}

							.am__cell:nth-child(6) .am__cell-inner { border-right: 1px solid transparent}
							.am__cell:nth-child(7) .am__cell-inner { border-left: 1px solid transparent}
						}





					}
				}
			}
		}

	}
</style>
